
<% if @comment.card %>
<h1> New Comment for <%= @comment.card.player_name%></h1>
<% else %>
<h1> New Comment!</h1>
<% end %>

<%= render partial: "layouts/errors", locals: {msg_error: @comment} %>

<%= form_for([@comment.card, @comment]) do |f|%>

<% if !@comment.card%>
<%= f.label :card %>
<%= f.collection_select :card_id, Card.all, :id, :player_name %>

<% else %>
<%=f.hidden_field :card_id%>

<% end %>

<%= f.label :content %>
<%= f.text_field :content %>

<%= f.submit %>
<% end  %>