<h1>This is the Card new</h1>

<%= render partial: "layouts/errors", locals: {msg_error: @card} %>

<%= form_for(@card) do |f| %>

    <%= f.label :player_name %>
    <%= f.text_field :player_name %>
    <br>
    <br>
    <%= f.label :team_name %>
    <%= f.text_field :team_name %>
    <br>
    <br>
    <%= f.label :year %>
    <%= f.date_field :year %>
    <br>
    <br>
    <% if @card.image.attached? %>
    <%= image_tag @card.image, style: "width: 200px: display: block" %>
    <% end %>
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
    <br>
    <br>
    <%= f.submit "New Card" %>
   

<% end %>