<h1>This is the Card new</h1>

<%= form_for(@card) do |f| %>

    <%= f.label :player_name %>
    <%= f.text_field :player_name %>

    <%= f.label :team_name %>
    <%= f.text_field :team_name %>
    
    <%= f.label :year %>
    <%= f.date_field :year %>

<-- <% if @card.image.attached? %>
<%= image_tag @card.image, style: "width: 200px: display: block" %>
<% end %>
<%= f.label :image %>
<%= f.file_field :image, class: "form-control" %>
--->
    
    <%= f.submit "New Card" %>
   

<% end %>