<h1>Card Name: <%= @card.player_name %></h1>
<h2>By User: <%= @card.user.username %></h2>

<div>  <%= image_tag @card.image %></div>
<div> Team Name: <%= @card.team_name %></div>
<div> Year of Issue: <%= @card.year %></div>

<% if @card.user == current_user %>
<h4> <%= link_to "Edit Card", edit_card_path(@card) %></h4>
<% end %>

<p> <%= link_to 'See all comments', card_comments_path(@card) %> | <%= link_to 'New comments', new_card_comment_path(@card) %></p>

<h4>Comments:</h4>
<% @card.comments.each do |c| %>
    <li><strong> <%= c.user.username%></strong> say "<%= link_to c.content, card_comment_path(@card, c)%>" </li>
<% end %>